body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  .header {
    background-color: #222;
    color: white;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    position: fixed ;
    top: 0;
    overflow: hidden;
    z-index: 1000;
    height: 20vh;
  
  }
  
  .nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .nav a {
    color: white;
    text-decoration: none;
  }
  .nav a:hover {
    color: #6192a0;
}
#active{
    color: #6192a0;
  }

  .info a{
    text-decoration: none;
    color: gray;
  }
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 1rem 0;
  }

  /*insta btn*/
  .insta-btn {
    display: flex;
    padding: 10px;
    background-color: #e1306c;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;    
    
}
.insta-btn img {
    display: flex;
    justify-content: center;

}