/* login interface */
.Email{
position: absolute;
width: 605px;
height: 793px;
left: 453px;
top: 94px;
}


/* Rectangle 475 */
.pswrd{
position: absolute;
width: 605px;
height: 793px;
left: 453px;
top: 94px;

background: #FFFFFF;
border: 0.7px solid #565656;
border-radius: 25px;
}
